@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --animate-fade-in: fadeIn 2.5s ease-out forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    
  }
}

@theme {
        --montserrat: ['Montserrat', 'sans-serif'],
        --outfit: ['Outfit', 'sans-serif'],
      }
  
